<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Potvrzení registrace</title>
</head>
<body>
<p>Dobrý den,</p>

<p>pro potvrzení registrace klikněte <a href="{plink //Check:default, $code}">zde</a>.</p>
</body>
</html>