{block content}
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-3">
        <h1 n:block=title>Sign Up</h1>

        {control signUpForm}

        <p><a n:href="in">Already have an account? Log in.</a></p>
    </div>
    <div class="col-sm-5"></div>
</div>
